table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
  }

highlight {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}